# In this notebook I am going to use other features from Apriori to mining rules

In [2]:
import pandas as pd
ready = pd.read_csv('source/ready_data.csv')

In [3]:
transactions = []
for i in range(0, len(ready)):
    transactions.append([str(ready.values[i, j]) for j in range(0, len(ready.columns))])
len(transactions)

1326

In [4]:
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te_ary = te.fit(transactions).transform(transactions)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

,1 ou 2 livros,3 a 4 livros,A maior parte em escola particular,A maior parte em escola publica,AGROPECUÁRIA,Age between 17 and 22,Age between 22 and 30,Age between 30 and 40,Age less than 17,Alugada,...,carona,integral,nan,nenhum (à pé),noturno,outro,outro motivo,próprio,vespertino,ônibus/van
0,False,False,False,False,False,False,True,False,False,True,...,False,True,False,False,False,False,False,True,False,False
1,True,False,False,False,True,False,False,False,True,False,...,False,True,False,False,False,False,False,False,False,True
2,True,False,False,False,False,False,True,False,False,False,...,True,False,False,False,True,False,False,False,False,False
3,True,False,False,False,True,True,False,False,False,False,...,False,True,False,False,False,False,True,False,False,True
4,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,True,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1321,True,False,False,False,False,False,True,False,False,False,...,False,False,False,False,True,False,False,False,False,True
1322,True,False,False,False,False,False,True,False,False,False,...,False,False,False,False,True,False,False,False,False,True
1323,True,False,False,False,True,False,False,False,True,False,...,False,True,False,False,False,False,False,False,False,True
1324,True,False,False,False,False,True,False,False,False,False,...,False,False,False,False,True,False,False,False,False,True
1325,True,False,False,False,False,True,False,False,False,False,...,True,True,False,False,False,False,False,False,False,False

In [39]:
from mlxtend.frequent_patterns import apriori

rules = apriori(df, min_support=0.3, use_colnames=True)
rules

      support                                           itemsets
0    0.465309                                    (1 ou 2 livros)
1    0.478884                            (Age between 17 and 22)
2    0.859729                         (Apenas em escola pública)
3    0.569382                                      (Diariamente)
4    0.509804                        (Ensino Fundam. incompleto)
..        ...                                                ...
134  0.375566                     (ônibus/van, Sim, Zona Urbana)
135  0.327300  (Apenas em escola pública, Própria, Sim, Zona ...
136  0.303922  (ônibus/van, Apenas em escola pública, Sim, Pr...
137  0.349925  (Apenas em escola pública, ônibus/van, Própria...
138  0.311463  (ônibus/van, Apenas em escola pública, Sim, Zo...

[139 rows x 2 columns]

In [40]:
rules

      support                                           itemsets
0    0.465309                                    (1 ou 2 livros)
1    0.478884                            (Age between 17 and 22)
2    0.859729                         (Apenas em escola pública)
3    0.569382                                      (Diariamente)
4    0.509804                        (Ensino Fundam. incompleto)
..        ...                                                ...
134  0.375566                     (ônibus/van, Sim, Zona Urbana)
135  0.327300  (Apenas em escola pública, Própria, Sim, Zona ...
136  0.303922  (ônibus/van, Apenas em escola pública, Sim, Pr...
137  0.349925  (Apenas em escola pública, ônibus/van, Própria...
138  0.311463  (ônibus/van, Apenas em escola pública, Sim, Zo...

[139 rows x 2 columns]

In [47]:
itemsets_bigger_than_1 = apriori(df, min_support=0.5, use_colnames=True)
itemsets_bigger_than_1['length'] = itemsets_bigger_than_1['itemsets'].apply(lambda x: len(x))
itemsets_bigger_than_1 = itemsets_bigger_than_1[itemsets_bigger_than_1['length'] > 1]
itemsets_bigger_than_1

     support                                 itemsets  length
10  0.619910      (Apenas em escola pública, Própria)       2
11  0.573152          (Apenas em escola pública, Sim)       2
12  0.680995  (Apenas em escola pública, Zona Urbana)       2
13  0.609351   (Apenas em escola pública, ônibus/van)       2
14  0.515083               (Diariamente, Zona Urbana)       2
15  0.532428                           (Sim, Própria)       2
16  0.573152                   (Própria, Zona Urbana)       2
17  0.507541                    (ônibus/van, Própria)       2
18  0.542986                       (Sim, Zona Urbana)       2
19  0.573152                (ônibus/van, Zona Urbana)       2

## The MLXtend feature is very good to get a beautiful representation, but this way I lost the information about the confidence and the lift.