# In this notebook I am going to use other features from Apriori to mining rules

In [2]:
import pandas as pd
ready = pd.read_csv('source/ready_data.csv')

In [3]:
transactions = []
for i in range(0, len(ready)):
    transactions.append([str(ready.values[i, j]) for j in range(0, len(ready.columns))])
len(transactions)

1326

In [4]:
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te_ary = te.fit(transactions).transform(transactions)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

,1 ou 2 livros,3 a 4 livros,A maior parte em escola particular,A maior parte em escola publica,AGROPECUÁRIA,Age between 17 and 22,Age between 22 and 30,Age between 30 and 40,Age less than 17,Alugada,...,carona,integral,nan,nenhum (à pé),noturno,outro,outro motivo,próprio,vespertino,ônibus/van
0,False,False,False,False,False,False,True,False,False,True,...,False,True,False,False,False,False,False,True,False,False
1,True,False,False,False,True,False,False,False,True,False,...,False,True,False,False,False,False,False,False,False,True
2,True,False,False,False,False,False,True,False,False,False,...,True,False,False,False,True,False,False,False,False,False
3,True,False,False,False,True,True,False,False,False,False,...,False,True,False,False,False,False,True,False,False,True
4,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,True,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1321,True,False,False,False,False,False,True,False,False,False,...,False,False,False,False,True,False,False,False,False,True
1322,True,False,False,False,False,False,True,False,False,False,...,False,False,False,False,True,False,False,False,False,True
1323,True,False,False,False,True,False,False,False,True,False,...,False,True,False,False,False,False,False,False,False,True
1324,True,False,False,False,False,True,False,False,False,False,...,False,False,False,False,True,False,False,False,False,True
1325,True,False,False,False,False,True,False,False,False,False,...,True,True,False,False,False,False,False,False,False,False

In [8]:
from mlxtend.frequent_patterns import apriori

rules = apriori(df, min_support=0.6, use_colnames=True)
rules

    support                                 itemsets
0  0.859729               (Apenas em escola pública)
1  0.725490                                (Própria)
2  0.687783                                    (Sim)
3  0.807692                            (Zona Urbana)
4  0.698341                             (ônibus/van)
5  0.619910      (Apenas em escola pública, Própria)
6  0.680995  (Apenas em escola pública, Zona Urbana)
7  0.609351   (Apenas em escola pública, ônibus/van)

In [24]:
rules.loc[(rules['support'] > 0.2)]

    support                                 itemsets
0  0.859729               (Apenas em escola pública)
1  0.725490                                (Própria)
2  0.687783                                    (Sim)
3  0.807692                            (Zona Urbana)
4  0.698341                             (ônibus/van)
5  0.619910      (Apenas em escola pública, Própria)
6  0.680995  (Apenas em escola pública, Zona Urbana)
7  0.609351   (Apenas em escola pública, ônibus/van)

In [26]:
#rules.loc[(len(rules['itemsets']) > 1)]

In [30]:
len(rules['itemsets'][5])

2