In [1]:
import os
import pymysql
from dotenv import load_dotenv
load_dotenv()

HOST = os.getenv('HOST')
USER = os.getenv('MYSQL_USER')
PASSWORD = os.getenv('MYSQL_ROOT_PASSWORD')
DB = os.getenv('MYSQL_DATABASE')

try:
    connection = pymysql.connect(host=HOST, 
                          user = USER,
                         password = PASSWORD,
                         db = DB)

    cursor = connection.cursor()
    print("Connection stablished.")
except:
    print("An exception occurred!")

Connection stablished.

## Creating Dataframe from Sql
>Is a good practice to do this way, because I don't need to change the sql, and dataframe provides more features.

>As we did in the previous section, I build a mysql database which I am going to use in this notebook.

In [2]:
import pandas as pd
df = pd.read_sql_query("SELECT * FROM socioeconomica", connection)
df

/home/visus/.pyenv/versions/3.7.0/lib/python3.7/site-packages/pandas/compat/__init__.py:117: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

,inscricao,total_pontos,curso,sexo,idade,local_origem,tipo_instituicao,renda_familiar,tipo_residencia,grau_escolaridade,motivo,transporte,instrucao_pai,instrucao_mae,automovel,livros,leitura,internet
0,42100007,31.0,ENGENHARIA AGRONÔMICA,M,23,Zona Urbana,Apenas em escola pública,"Maior que R$ 1530,00",Alugada,Médio Completo,Realização pessoal,próprio,Ensino Médio Incompleto,Ensino Médio Completo,Sim,Nenhum livro,Outro,Diariamente
1,42100008,45.0,ENSINO MÉDIO E TÉCNICO EM AGROPECUÁRIA,M,16,Zona Rural,Apenas em escola pública,"R$ 511,00 a 765,00",Própria,Fundamental,Realização pessoal,ônibus/van,Ensino Fundam. incompleto,Ensino Fundam. incompleto,Sim,1 ou 2 livros,Outro,Não utiliza
2,42100013,62.0,TÉCNICO EM INFORMÁTICA - NOTURNO,F,27,Zona Urbana,Apenas em escola pública,"R$ 511,00 a 765,00",Própria,Médio Completo,Possibilidades no mercado de trabalho,carona,Ensino Fundam. incompleto,Ensino Fundamental Completo,Não,1 ou 2 livros,Outro,Diariamente
3,42100017,59.0,TÉCNICO EM AGROPECUÁRIA,M,20,Zona Urbana,Apenas em escola pública,"R$ 1276,00 a 1530,00",Própria,Médio Completo,outro motivo,ônibus/van,Ensino Médio Completo,Ensino Médio Incompleto,Sim,1 ou 2 livros,Ficção,Diariamente
4,42100018,49.2,CIÊNCIA DA COMPUTAÇÃO - BACHARELADO,F,19,Zona Urbana,Apenas em escola pública,"R$ 511,00 a 765,00",Própria,Médio Incompleto,Possibilidades no mercado de trabalho,ônibus/van,Ensino Fundam. incompleto,Ensino Médio Completo,Sim,Mais de 5 livros,Outro,Diariamente
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1321,42102973,34.2,EDUCAÇÃO FÍSICA - BACHARELADO - NOTURNO,M,23,Zona Urbana,Apenas em escola pública,"R$ 766,00 a 1275,00",Própria,Médio Incompleto,Contribuição para a sociedade,ônibus/van,Ensino Fundam. incompleto,Ensino Médio Incompleto,Sim,1 ou 2 livros,Ficção,Diariamente
1322,42102977,34.0,TÉCNICO EM ENFERMAGEM - NOTURNO,F,26,Zona Urbana,Apenas em escola pública,"R$ 511,00 a 765,00",Própria,Médio Completo,Possibilidades no mercado de trabalho,ônibus/van,Ensino Médio Completo,Ensino Fundam. incompleto,Sim,1 ou 2 livros,Outro,Diariamente
1323,42102979,61.0,ENSINO MÉDIO E TÉCNICO EM AGROPECUÁRIA,M,16,Zona Rural,Apenas em escola pública,"R$ 766,00 a 1275,00",Própria,Fundamental,Possibilidades no mercado de trabalho,ônibus/van,Ensino Fundam. incompleto,Ensino Fundam. incompleto,Sim,1 ou 2 livros,Romance,Diariamente
1324,42102992,26.4,EDUCAÇÃO FÍSICA - LICENCIATURA - NOTURNO,F,19,Zona Urbana,Apenas em escola pública,"R$ 1276,00 a 1530,00",Própria,Médio Completo,Realização pessoal,ônibus/van,Ensino Fundamental Completo,Ensino Fundamental Completo,Não,1 ou 2 livros,Romance,Diariamente
1325,42102998,23.8,ENGENHARIA AGRONÔMICA,M,21,Zona Urbana,Apenas em escola pública,"R$ 766,00 a 1275,00",Própria,Médio Completo,Realização pessoal,carona,Ensino Fundam. incompleto,Ensino Fundam. incompleto,Sim,1 ou 2 livros,Outro,Semanalmente (algumas vezes)

## Attribute Selection
* __Dropping unecessary columns__

In [3]:
df = df.drop(columns=['inscricao'])
df

,total_pontos,curso,sexo,idade,local_origem,tipo_instituicao,renda_familiar,tipo_residencia,grau_escolaridade,motivo,transporte,instrucao_pai,instrucao_mae,automovel,livros,leitura,internet
0,31.0,ENGENHARIA AGRONÔMICA,M,23,Zona Urbana,Apenas em escola pública,"Maior que R$ 1530,00",Alugada,Médio Completo,Realização pessoal,próprio,Ensino Médio Incompleto,Ensino Médio Completo,Sim,Nenhum livro,Outro,Diariamente
1,45.0,ENSINO MÉDIO E TÉCNICO EM AGROPECUÁRIA,M,16,Zona Rural,Apenas em escola pública,"R$ 511,00 a 765,00",Própria,Fundamental,Realização pessoal,ônibus/van,Ensino Fundam. incompleto,Ensino Fundam. incompleto,Sim,1 ou 2 livros,Outro,Não utiliza
2,62.0,TÉCNICO EM INFORMÁTICA - NOTURNO,F,27,Zona Urbana,Apenas em escola pública,"R$ 511,00 a 765,00",Própria,Médio Completo,Possibilidades no mercado de trabalho,carona,Ensino Fundam. incompleto,Ensino Fundamental Completo,Não,1 ou 2 livros,Outro,Diariamente
3,59.0,TÉCNICO EM AGROPECUÁRIA,M,20,Zona Urbana,Apenas em escola pública,"R$ 1276,00 a 1530,00",Própria,Médio Completo,outro motivo,ônibus/van,Ensino Médio Completo,Ensino Médio Incompleto,Sim,1 ou 2 livros,Ficção,Diariamente
4,49.2,CIÊNCIA DA COMPUTAÇÃO - BACHARELADO,F,19,Zona Urbana,Apenas em escola pública,"R$ 511,00 a 765,00",Própria,Médio Incompleto,Possibilidades no mercado de trabalho,ônibus/van,Ensino Fundam. incompleto,Ensino Médio Completo,Sim,Mais de 5 livros,Outro,Diariamente
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1321,34.2,EDUCAÇÃO FÍSICA - BACHARELADO - NOTURNO,M,23,Zona Urbana,Apenas em escola pública,"R$ 766,00 a 1275,00",Própria,Médio Incompleto,Contribuição para a sociedade,ônibus/van,Ensino Fundam. incompleto,Ensino Médio Incompleto,Sim,1 ou 2 livros,Ficção,Diariamente
1322,34.0,TÉCNICO EM ENFERMAGEM - NOTURNO,F,26,Zona Urbana,Apenas em escola pública,"R$ 511,00 a 765,00",Própria,Médio Completo,Possibilidades no mercado de trabalho,ônibus/van,Ensino Médio Completo,Ensino Fundam. incompleto,Sim,1 ou 2 livros,Outro,Diariamente
1323,61.0,ENSINO MÉDIO E TÉCNICO EM AGROPECUÁRIA,M,16,Zona Rural,Apenas em escola pública,"R$ 766,00 a 1275,00",Própria,Fundamental,Possibilidades no mercado de trabalho,ônibus/van,Ensino Fundam. incompleto,Ensino Fundam. incompleto,Sim,1 ou 2 livros,Romance,Diariamente
1324,26.4,EDUCAÇÃO FÍSICA - LICENCIATURA - NOTURNO,F,19,Zona Urbana,Apenas em escola pública,"R$ 1276,00 a 1530,00",Própria,Médio Completo,Realização pessoal,ônibus/van,Ensino Fundamental Completo,Ensino Fundamental Completo,Não,1 ou 2 livros,Romance,Diariamente
1325,23.8,ENGENHARIA AGRONÔMICA,M,21,Zona Urbana,Apenas em escola pública,"R$ 766,00 a 1275,00",Própria,Médio Completo,Realização pessoal,carona,Ensino Fundam. incompleto,Ensino Fundam. incompleto,Sim,1 ou 2 livros,Outro,Semanalmente (algumas vezes)

In [4]:
#Finding the incorrect values from 'idade'
print(df[(df['idade'] > 90) | (df['idade'] < 0)].index)
print(len(df[(df['idade'] > 90) | (df['idade'] < 0)].index))

Int64Index([70, 72, 125, 127, 139, 312, 470, 557, 621, 780, 926, 944, 1072,
            1278, 1284],
           dtype='int64')
15

In [5]:
incorrect_ages = list(df[(df['idade'] > 90) | (df['idade'] < 0)].index)
incorrect_ages

[70, 72, 125, 127, 139, 312, 470, 557, 621, 780, 926, 944, 1072, 1278, 1284]

* __As I get incorrect values from idade (age), I must solve this. I have three ways to do this:__
    >1. Try to contact each studant whose has an error in the age value (but I can't do this);
    
    >2. Erase the entry row for each student whose has this error (how I don't have a large amount of errors, I see no problem with this way);
    
    >3. Give to each student the mean value from the age of rest of the students (I'll apply this way).

In [6]:
df[~df.index.isin(incorrect_ages)]

,total_pontos,curso,sexo,idade,local_origem,tipo_instituicao,renda_familiar,tipo_residencia,grau_escolaridade,motivo,transporte,instrucao_pai,instrucao_mae,automovel,livros,leitura,internet
0,31.0,ENGENHARIA AGRONÔMICA,M,23,Zona Urbana,Apenas em escola pública,"Maior que R$ 1530,00",Alugada,Médio Completo,Realização pessoal,próprio,Ensino Médio Incompleto,Ensino Médio Completo,Sim,Nenhum livro,Outro,Diariamente
1,45.0,ENSINO MÉDIO E TÉCNICO EM AGROPECUÁRIA,M,16,Zona Rural,Apenas em escola pública,"R$ 511,00 a 765,00",Própria,Fundamental,Realização pessoal,ônibus/van,Ensino Fundam. incompleto,Ensino Fundam. incompleto,Sim,1 ou 2 livros,Outro,Não utiliza
2,62.0,TÉCNICO EM INFORMÁTICA - NOTURNO,F,27,Zona Urbana,Apenas em escola pública,"R$ 511,00 a 765,00",Própria,Médio Completo,Possibilidades no mercado de trabalho,carona,Ensino Fundam. incompleto,Ensino Fundamental Completo,Não,1 ou 2 livros,Outro,Diariamente
3,59.0,TÉCNICO EM AGROPECUÁRIA,M,20,Zona Urbana,Apenas em escola pública,"R$ 1276,00 a 1530,00",Própria,Médio Completo,outro motivo,ônibus/van,Ensino Médio Completo,Ensino Médio Incompleto,Sim,1 ou 2 livros,Ficção,Diariamente
4,49.2,CIÊNCIA DA COMPUTAÇÃO - BACHARELADO,F,19,Zona Urbana,Apenas em escola pública,"R$ 511,00 a 765,00",Própria,Médio Incompleto,Possibilidades no mercado de trabalho,ônibus/van,Ensino Fundam. incompleto,Ensino Médio Completo,Sim,Mais de 5 livros,Outro,Diariamente
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1321,34.2,EDUCAÇÃO FÍSICA - BACHARELADO - NOTURNO,M,23,Zona Urbana,Apenas em escola pública,"R$ 766,00 a 1275,00",Própria,Médio Incompleto,Contribuição para a sociedade,ônibus/van,Ensino Fundam. incompleto,Ensino Médio Incompleto,Sim,1 ou 2 livros,Ficção,Diariamente
1322,34.0,TÉCNICO EM ENFERMAGEM - NOTURNO,F,26,Zona Urbana,Apenas em escola pública,"R$ 511,00 a 765,00",Própria,Médio Completo,Possibilidades no mercado de trabalho,ônibus/van,Ensino Médio Completo,Ensino Fundam. incompleto,Sim,1 ou 2 livros,Outro,Diariamente
1323,61.0,ENSINO MÉDIO E TÉCNICO EM AGROPECUÁRIA,M,16,Zona Rural,Apenas em escola pública,"R$ 766,00 a 1275,00",Própria,Fundamental,Possibilidades no mercado de trabalho,ônibus/van,Ensino Fundam. incompleto,Ensino Fundam. incompleto,Sim,1 ou 2 livros,Romance,Diariamente
1324,26.4,EDUCAÇÃO FÍSICA - LICENCIATURA - NOTURNO,F,19,Zona Urbana,Apenas em escola pública,"R$ 1276,00 a 1530,00",Própria,Médio Completo,Realização pessoal,ônibus/van,Ensino Fundamental Completo,Ensino Fundamental Completo,Não,1 ou 2 livros,Romance,Diariamente
1325,23.8,ENGENHARIA AGRONÔMICA,M,21,Zona Urbana,Apenas em escola pública,"R$ 766,00 a 1275,00",Própria,Médio Completo,Realização pessoal,carona,Ensino Fundam. incompleto,Ensino Fundam. incompleto,Sim,1 ou 2 livros,Outro,Semanalmente (algumas vezes)

In [7]:
"""The average value with the incorrect ages"""
df['idade'].mean()

32.09653092006033

In [8]:
"""The average value without the incorrect ages"""
df[~df.index.isin(incorrect_ages)]['idade'].mean()

20.176201372997713

In [9]:
df['idade'].mean() - df[~df.index.isin(incorrect_ages)]['idade'].mean()

11.920329547062618

In [10]:
"""the average age"""
avg_age = int(df[~df.index.isin(incorrect_ages)]['idade'].mean())
avg_age

20

In [11]:
"""assigning the average age value to incorrect ages"""
df.loc[df.index.isin(incorrect_ages), 'idade'] = avg_age

In [12]:
"""Testing"""
df[df.index.isin(incorrect_ages)]

,total_pontos,curso,sexo,idade,local_origem,tipo_instituicao,renda_familiar,tipo_residencia,grau_escolaridade,motivo,transporte,instrucao_pai,instrucao_mae,automovel,livros,leitura,internet
70,51.0,ENSINO MÉDIO E TÉCNICO EM AGROPECUÁRIA,M,20,Zona Rural,Apenas em escola pública,"R$ 255,00 a 510,00",Outros,Fundamental,Possibilidades no mercado de trabalho,ônibus/van,Ensino Fundam. incompleto,Ensino Fundam. incompleto,Não,1 ou 2 livros,Ficção,Não utiliza
72,42.0,ENSINO MÉDIO E TÉCNICO EM AGROPECUÁRIA,M,20,Zona Urbana,Apenas em escola pública,"R$ 766,00 a 1275,00",Própria,Fundamental,Realização pessoal,ônibus/van,Ensino Superior Completo,Ensino Fundamental Completo,Sim,Nenhum livro,Outro,Diariamente
125,41.0,ENSINO MÉDIO E TÉCNICO EM INFORMÁTICA,M,20,Zona Urbana,A maior parte em escola publica,"R$ 1276,00 a 1530,00",Própria,Fundamental,Realização pessoal,ônibus/van,Ensino Fundam. incompleto,Ensino Médio Completo,Sim,1 ou 2 livros,Outro,Diariamente
127,65.0,ENSINO MÉDIO E TÉCNICO EM INFORMÁTICA,F,20,Zona Urbana,Apenas em escola pública,"R$ 1276,00 a 1530,00",Própria,Fundamental,Possibilidades no mercado de trabalho,ônibus/van,Ensino Fundam. incompleto,Ensino Fundam. incompleto,Sim,3 a 4 livros,Ficção,Diariamente
139,46.0,ENSINO MÉDIO E TÉCNICO EM AGROPECUÁRIA,M,20,Zona Urbana,Apenas em escola pública,"Menor que R$ 255,00",Própria,Fundamental,Realização pessoal,ônibus/van,Ensino Fundam. incompleto,Ensino Fundam. incompleto,Não,Mais de 5 livros,Outro,Somente nos Finais de semana
312,16.0,TÉCNICO EM ENFERMAGEM - NOTURNO,F,20,Zona Urbana,Apenas em escola pública,"R$ 511,00 a 765,00",Financiada,Médio Incompleto,Realização pessoal,ônibus/van,Ensino Fundam. incompleto,Analfabeto,Sim,Mais de 5 livros,Romance,Semanalmente (algumas vezes)
470,50.0,ENSINO MÉDIO E TÉCNICO EM INFORMÁTICA,F,20,Zona Rural,Apenas em escola pública,"R$ 511,00 a 765,00",Própria,Fundamental,Possibilidades no mercado de trabalho,ônibus/van,Ensino Fundam. incompleto,Analfabeto,Não,Mais de 5 livros,Romance,Não utiliza
557,41.0,TÉCNICO EM SEGURANÇA DO TRABALHO,F,20,Zona Urbana,Apenas em escola pública,"Menor que R$ 255,00",Própria,Médio Completo,outro motivo,ônibus/van,Analfabeto,Analfabeto,Não,Nenhum livro,Outro,Não utiliza
621,59.0,TÉCNICO EM AGROPECUÁRIA,F,20,Zona Rural,Apenas em escola pública,"R$ 511,00 a 765,00",Própria,Médio Completo,Realização pessoal,ônibus/van,Ensino Fundamental Completo,Ensino Fundamental Completo,Sim,3 a 4 livros,Romance,Diariamente
780,41.0,TÉCNICO EM ENFERMAGEM - NOTURNO,F,20,Zona Urbana,Apenas em escola pública,"R$ 511,00 a 765,00",Própria,Médio Completo,Realização pessoal,ônibus/van,Ensino Fundam. incompleto,Ensino Fundam. incompleto,Sim,1 ou 2 livros,Romance,Diariamente
926,44.0,ENSINO MÉDIO E TÉCNICO EM AGROPECUÁRIA,M,20,Zona Urbana,Apenas em escola pública,"R$ 255,00 a 510,00",Própria,Fundamental,Prestígio social da profissão,ônibus/van,Ensino Fundam. incompleto,Ensino Fundamental Completo,Sim,1 ou 2 livros,Técnico-científico,Semanalmente (algumas vezes)
944,47.0,ENSINO MÉDIO E TÉCNICO EM AGROPECUÁRIA,M,20,Zona Urbana,Apenas em escola particular,"Maior que R$ 1530,00",Própria,Fundamental,Realização pessoal,ônibus/van,Ensino Médio Completo,Ensino Médio Incompleto,Sim,1 ou 2 livros,Romance,Diariamente
1072,24.0,ENSINO MÉDIO E TÉCNICO EM ALIMENTOS,M,20,Zona Urbana,Apenas em escola pública,"R$ 766,00 a 1275,00",Própria,Fundamental,Influência da família e/ou amigos,ônibus/van,Pós-graduação,Ensino Superior Completo,Sim,1 ou 2 livros,Romance,Diariamente
1278,32.0,TÉCNICO EM SEGURANÇA DO TRABALHO,M,20,Zona Urbana,Apenas em escola pública,"R$ 511,00 a 765,00",Própria,Médio Incompleto,Possibilidades no mercado de trabalho,ônibus/van,Analfabeto,Analfabeto,Sim,1 ou 2 livros,Outro,Mensalmente
1284,54.0,ENSINO MÉDIO E TÉCNICO EM AGROPECUÁRIA,M,20,Zona Rural,Apenas em escola pública,"R$ 766,00 a 1275,00",Própria,Médio Incompleto,Prestígio social da profissão,próprio,Ensino Médio Completo,Ensino Superior Completo,Sim,1 ou 2 livros,Ficção,Semanalmente (algumas vezes)

In [13]:
"""Now, this makes sense"""
print(df['idade'].mean())

20.17420814479638

## Transforming age
>How we have a large amount of single value of age, we need to make this in a interval

In [14]:
print(df['idade'].unique())
print(len(df['idade'].unique()))

[23 16 27 20 19 21 22 26 17 15 18 25 24 29  1 35 28 54 68 45 30 32 14 40
 31 33 36 46 43 34 47 55  2  3 37 48 39 38 69 52 41]
41

* __Age interval:__

>Age < 17

> 17 < Age < 22

> 22 < Age < 30

>30 < Age < 40

> Age > 40

In [15]:
def age_interval(df_column):
    """Must return the respective age interval""" 
    if int(df_column) < 17:
        return("Age less than 17")
    elif 17 <= int(df_column) and int(df_column) < 22:
        return("Age between 17 and 22")
    elif 22 <= int(df_column) and int(df_column) < 30:
        return("Age between 22 and 30")
    elif 30 <= int(df_column) and int(df_column) < 40:
        return("Age between 30 and 40")
    elif int(df_column) > 40:
        return("Older than 40")

In [16]:
df['age_interval'] = df['idade'].apply(age_interval)
df

,total_pontos,curso,sexo,idade,local_origem,tipo_instituicao,renda_familiar,tipo_residencia,grau_escolaridade,motivo,transporte,instrucao_pai,instrucao_mae,automovel,livros,leitura,internet,age_interval
0,31.0,ENGENHARIA AGRONÔMICA,M,23,Zona Urbana,Apenas em escola pública,"Maior que R$ 1530,00",Alugada,Médio Completo,Realização pessoal,próprio,Ensino Médio Incompleto,Ensino Médio Completo,Sim,Nenhum livro,Outro,Diariamente,Age between 22 and 30
1,45.0,ENSINO MÉDIO E TÉCNICO EM AGROPECUÁRIA,M,16,Zona Rural,Apenas em escola pública,"R$ 511,00 a 765,00",Própria,Fundamental,Realização pessoal,ônibus/van,Ensino Fundam. incompleto,Ensino Fundam. incompleto,Sim,1 ou 2 livros,Outro,Não utiliza,Age less than 17
2,62.0,TÉCNICO EM INFORMÁTICA - NOTURNO,F,27,Zona Urbana,Apenas em escola pública,"R$ 511,00 a 765,00",Própria,Médio Completo,Possibilidades no mercado de trabalho,carona,Ensino Fundam. incompleto,Ensino Fundamental Completo,Não,1 ou 2 livros,Outro,Diariamente,Age between 22 and 30
3,59.0,TÉCNICO EM AGROPECUÁRIA,M,20,Zona Urbana,Apenas em escola pública,"R$ 1276,00 a 1530,00",Própria,Médio Completo,outro motivo,ônibus/van,Ensino Médio Completo,Ensino Médio Incompleto,Sim,1 ou 2 livros,Ficção,Diariamente,Age between 17 and 22
4,49.2,CIÊNCIA DA COMPUTAÇÃO - BACHARELADO,F,19,Zona Urbana,Apenas em escola pública,"R$ 511,00 a 765,00",Própria,Médio Incompleto,Possibilidades no mercado de trabalho,ônibus/van,Ensino Fundam. incompleto,Ensino Médio Completo,Sim,Mais de 5 livros,Outro,Diariamente,Age between 17 and 22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1321,34.2,EDUCAÇÃO FÍSICA - BACHARELADO - NOTURNO,M,23,Zona Urbana,Apenas em escola pública,"R$ 766,00 a 1275,00",Própria,Médio Incompleto,Contribuição para a sociedade,ônibus/van,Ensino Fundam. incompleto,Ensino Médio Incompleto,Sim,1 ou 2 livros,Ficção,Diariamente,Age between 22 and 30
1322,34.0,TÉCNICO EM ENFERMAGEM - NOTURNO,F,26,Zona Urbana,Apenas em escola pública,"R$ 511,00 a 765,00",Própria,Médio Completo,Possibilidades no mercado de trabalho,ônibus/van,Ensino Médio Completo,Ensino Fundam. incompleto,Sim,1 ou 2 livros,Outro,Diariamente,Age between 22 and 30
1323,61.0,ENSINO MÉDIO E TÉCNICO EM AGROPECUÁRIA,M,16,Zona Rural,Apenas em escola pública,"R$ 766,00 a 1275,00",Própria,Fundamental,Possibilidades no mercado de trabalho,ônibus/van,Ensino Fundam. incompleto,Ensino Fundam. incompleto,Sim,1 ou 2 livros,Romance,Diariamente,Age less than 17
1324,26.4,EDUCAÇÃO FÍSICA - LICENCIATURA - NOTURNO,F,19,Zona Urbana,Apenas em escola pública,"R$ 1276,00 a 1530,00",Própria,Médio Completo,Realização pessoal,ônibus/van,Ensino Fundamental Completo,Ensino Fundamental Completo,Não,1 ou 2 livros,Romance,Diariamente,Age between 17 and 22
1325,23.8,ENGENHARIA AGRONÔMICA,M,21,Zona Urbana,Apenas em escola pública,"R$ 766,00 a 1275,00",Própria,Médio Completo,Realização pessoal,carona,Ensino Fundam. incompleto,Ensino Fundam. incompleto,Sim,1 ou 2 livros,Outro,Semanalmente (algumas vezes),Age between 17 and 22

In [5]:
df['age_interval']

0       Age between 22 and 30
1            Age less than 17
2       Age between 22 and 30
3       Age between 17 and 22
4       Age between 17 and 22
                ...
1321    Age between 22 and 30
1322    Age between 22 and 30
1323         Age less than 17
1324    Age between 17 and 22
1325    Age between 17 and 22
Name: age_interval, Length: 1326, dtype: object

In [33]:
#Exporting data
try:
    df.to_csv('source/pre_processed0.csv', index=False)
    print('CSV file has been created!')
except:
    print('An exception occurred!')

CSV file has been created!

## Total pontos (total points)
>The same problem as in age values: how I have a large variability between values, I need to use an interval.

>As in the previous section, the frequency distribution is in the respective notebook.

In [4]:
len(df['total_pontos'].unique())

219

In [7]:
def score_interval(df_column):
    """Must return the respective points interval""" 
    if float(df_column) < 9:
        return("Score > 9")
    elif 9 <= float(df_column) and float(df_column) < 18:
        return("Score 9 - 18")
    elif 18 <= float(df_column) and float(df_column) < 27:
        return("Score 18 - 27")
    elif 27 <= float(df_column) and float(df_column) < 36:
        return("Score 27 - 36")
    elif 36 <= float(df_column) and float(df_column) < 45:
        return("Score 36 - 45")
    elif 45 <= float(df_column) and float(df_column) < 54:
        return("Score 45 - 54")
    elif 54 <= float(df_column) and float(df_column) < 63:
        return("Score 54 - 63")
    elif 63 <= float(df_column) and float(df_column) < 72:
        return("Score 63 - 72")
    elif 72 <= float(df_column) and float(df_column) < 81:
        return("Score 72 - 81")
    elif float(df_column) >= 81:
        return("Score > 80")

In [95]:
df['score_interval'] = df['total_pontos'].apply(score_interval)
df['score_interval']

0       Score 27 - 36
1       Score 45 - 54
2       Score 54 - 63
3       Score 54 - 63
4       Score 45 - 54
            ...
1321    Score 27 - 36
1322    Score 27 - 36
1323    Score 54 - 63
1324    Score 18 - 27
1325    Score 18 - 27
Name: score_interval, Length: 1326, dtype: object

## Course Class Period
>We are going to create a column with the class period by course. This information is known and given by the university previosly.

In [124]:
def give_period(df_column):
    """Must returns respective class period by course"""
    integral = ['ENGENHARIA AGRONÔMICA', 'AGROPECUÁRIA', 'INFORMÁTICA', 'TÉCNICO EM AGROPECUÁRIA',
               'ENSINO MÉDIO E TÉCNICO EM INFORMÁTICA', 'ENSINO MÉDIO E TÉCNICO EM ALIMENTOS', 'ENSINO MÉDIO E TÉCNICO EM AGROPECUÁRIA']
    noturno = ['TÉCNICO EM INFORMÁTICA - NOTURNO', 'CIÊNCIA DA COMPUTAÇÃO - BACHARELADO', 'CIÊNCIAS BIOLÓGICAS - LICENCIATURA',
              'EDUCAÇÃO FÍSICA - BACHARELADO - NOTURNO', 'TÉCNICO EM MEIO AMBIENTE', 'TÉCNICO EM ENFERMAGEM - NOTURNO',
              'EDUCAÇÃO FÍSICA - LICENCIATURA - NOTURNO', 'TÉCNICO EM SEGURANÇA DO TRABALHO']
    vespertino = ['EDUCAÇÃO FÍSICA - LICENCIATURA - VESPERTINO', 'TÉCNICO EM INFORMÁTICA - VESPERTINO', 'EDUCAÇÃO FÍSICA - BACHARELADO - VESPERTINO']
    dicio = {'integral': integral, 'noturno': noturno, 'vespertino': vespertino}
    for key, value in dicio.items():
        if df_column in value:
            return(key)

## Course Class Period
>We are going to create a column with the class period by course. This information is known and given by the university previosly.

In [125]:
df['class_period'] = df['curso'].apply(give_period)
df['class_period']

0       integral
1       integral
2        noturno
3       integral
4        noturno
          ...
1321     noturno
1322     noturno
1323    integral
1324     noturno
1325    integral
Name: class_period, Length: 1326, dtype: object

In [126]:
df

,total_pontos,curso,sexo,idade,local_origem,tipo_instituicao,renda_familiar,tipo_residencia,grau_escolaridade,motivo,transporte,instrucao_pai,instrucao_mae,automovel,livros,leitura,internet,age_interval,class_period
0,31.0,ENGENHARIA AGRONÔMICA,M,23,Zona Urbana,Apenas em escola pública,"Maior que R$ 1530,00",Alugada,Médio Completo,Realização pessoal,próprio,Ensino Médio Incompleto,Ensino Médio Completo,Sim,Nenhum livro,Outro,Diariamente,Age between 22 and 30,integral
1,45.0,ENSINO MÉDIO E TÉCNICO EM AGROPECUÁRIA,M,16,Zona Rural,Apenas em escola pública,"R$ 511,00 a 765,00",Própria,Fundamental,Realização pessoal,ônibus/van,Ensino Fundam. incompleto,Ensino Fundam. incompleto,Sim,1 ou 2 livros,Outro,Não utiliza,Age less than 17,integral
2,62.0,TÉCNICO EM INFORMÁTICA - NOTURNO,F,27,Zona Urbana,Apenas em escola pública,"R$ 511,00 a 765,00",Própria,Médio Completo,Possibilidades no mercado de trabalho,carona,Ensino Fundam. incompleto,Ensino Fundamental Completo,Não,1 ou 2 livros,Outro,Diariamente,Age between 22 and 30,noturno
3,59.0,TÉCNICO EM AGROPECUÁRIA,M,20,Zona Urbana,Apenas em escola pública,"R$ 1276,00 a 1530,00",Própria,Médio Completo,outro motivo,ônibus/van,Ensino Médio Completo,Ensino Médio Incompleto,Sim,1 ou 2 livros,Ficção,Diariamente,Age between 17 and 22,integral
4,49.2,CIÊNCIA DA COMPUTAÇÃO - BACHARELADO,F,19,Zona Urbana,Apenas em escola pública,"R$ 511,00 a 765,00",Própria,Médio Incompleto,Possibilidades no mercado de trabalho,ônibus/van,Ensino Fundam. incompleto,Ensino Médio Completo,Sim,Mais de 5 livros,Outro,Diariamente,Age between 17 and 22,noturno
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1321,34.2,EDUCAÇÃO FÍSICA - BACHARELADO - NOTURNO,M,23,Zona Urbana,Apenas em escola pública,"R$ 766,00 a 1275,00",Própria,Médio Incompleto,Contribuição para a sociedade,ônibus/van,Ensino Fundam. incompleto,Ensino Médio Incompleto,Sim,1 ou 2 livros,Ficção,Diariamente,Age between 22 and 30,noturno
1322,34.0,TÉCNICO EM ENFERMAGEM - NOTURNO,F,26,Zona Urbana,Apenas em escola pública,"R$ 511,00 a 765,00",Própria,Médio Completo,Possibilidades no mercado de trabalho,ônibus/van,Ensino Médio Completo,Ensino Fundam. incompleto,Sim,1 ou 2 livros,Outro,Diariamente,Age between 22 and 30,noturno
1323,61.0,ENSINO MÉDIO E TÉCNICO EM AGROPECUÁRIA,M,16,Zona Rural,Apenas em escola pública,"R$ 766,00 a 1275,00",Própria,Fundamental,Possibilidades no mercado de trabalho,ônibus/van,Ensino Fundam. incompleto,Ensino Fundam. incompleto,Sim,1 ou 2 livros,Romance,Diariamente,Age less than 17,integral
1324,26.4,EDUCAÇÃO FÍSICA - LICENCIATURA - NOTURNO,F,19,Zona Urbana,Apenas em escola pública,"R$ 1276,00 a 1530,00",Própria,Médio Completo,Realização pessoal,ônibus/van,Ensino Fundamental Completo,Ensino Fundamental Completo,Não,1 ou 2 livros,Romance,Diariamente,Age between 17 and 22,noturno
1325,23.8,ENGENHARIA AGRONÔMICA,M,21,Zona Urbana,Apenas em escola pública,"R$ 766,00 a 1275,00",Própria,Médio Completo,Realização pessoal,carona,Ensino Fundam. incompleto,Ensino Fundam. incompleto,Sim,1 ou 2 livros,Outro,Semanalmente (algumas vezes),Age between 17 and 22,integral

In [138]:
print(None in df['class_period'].values)
print('vespertino' in df['class_period'].values)
print('integral' in df['class_period'].values)
print('noturno' in df['class_period'].values)
"""Checking if all attributions has done fine"""

False
True
True
True

## Course Name
>We are going to redefine course name, removing its class period and bachelor type.

>This way: TÉCNICO EM INFORMÁTICA - NOTURNO => INFORMÁTICA

In [140]:
def refine_course_name(df_column):
    """Must returns only course name"""
    if str(df_column) == 'TÉCNICO EM INFORMÁTICA - NOTURNO' or \
    str(df_column) == 'TÉCNICO EM INFORMÁTICA - VESPERTINO':
        return('INFORMÁTICA')
    elif str(df_column) == 'TÉCNICO EM AGROPECUÁRIA' or \
    str(df_column) == 'ENSINO MÉDIO E TÉCNICO EM AGROPECUÁRIA':
        return('AGROPECUÁRIA')
    elif str(df_column) == 'CIÊNCIA DA COMPUTAÇÃO - BACHARELADO':
        return('CIÊNCIA DA COMPUTAÇÃO')
    elif str(df_column) == 'CIÊNCIAS BIOLÓGICAS - LICENCIATURA':
        return('CIÊNCIAS BIOLÓGICAS')
    elif str(df_column) == 'EDUCAÇÃO FÍSICA - LICENCIATURA - VESPERTINO' or  \
    str(df_column) == 'EDUCAÇÃO FÍSICA - BACHARELADO - NOTURNO' \
    or str(df_column) == 'EDUCAÇÃO FÍSICA - LICENCIATURA - NOTURNO' \
    or str(df_column) == 'EDUCAÇÃO FÍSICA - BACHARELADO - VESPERTINO':
        return('EDUCAÇÃO FÍSICA')
    elif str(df_column) == 'TÉCNICO EM MEIO AMBIENTE':
        return('MEIO AMBIENTE')
    elif str(df_column)== 'TÉCNICO EM ENFERMAGEM - NOTURNO':
        return('ENFERMAGEM')
    elif str(df_column) == 'TÉCNICO EM SEGURANÇA DO TRABALHO':
        return('SEGURANÇA DO TRABALHO')
    else:
        return(df_column)

In [141]:
df['course_name'] = df['curso'].apply(refine_course_name)
df['course_name']

0       ENGENHARIA AGRONÔMICA
1                AGROPECUÁRIA
2                 INFORMÁTICA
3                AGROPECUÁRIA
4       CIÊNCIA DA COMPUTAÇÃO
                ...
1321          EDUCAÇÃO FÍSICA
1322               ENFERMAGEM
1323             AGROPECUÁRIA
1324          EDUCAÇÃO FÍSICA
1325    ENGENHARIA AGRONÔMICA
Name: course_name, Length: 1326, dtype: object

In [142]:
#Exporting data
try:
    df.to_csv('source/pre_processed1.csv', index=False)
    print('CSV file has been created!')
except:
    print('An exception occurred!')

CSV file has been created!

## Degree
>We are going to attribute the degree type to each course.