* __Reading data:__

In [1]:
import pandas as pd

data = pd.read_csv('source/ready_data.csv')
data

/home/visus/.pyenv/versions/3.7.0/lib/python3.7/site-packages/pandas/compat/__init__.py:117: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

,dia_da_semana,periodo_de_vendas,borda,refrigerante,intervalo_valor,intervalo
0,Friday,Start,Borda False,Refrigerante False,26.0 - 34.0 R$,21.25 - 32.5 minutes
1,Friday,Start,Borda False,Refrigerante False,26.0 - 34.0 R$,32.5 - 43.75 minutes
2,Friday,Start,Borda False,Refrigerante False,26.0 - 34.0 R$,32.5 - 43.75 minutes
3,Friday,Start,Borda False,Refrigerante False,26.0 - 34.0 R$,32.5 - 43.75 minutes
4,Friday,Start,Borda False,Refrigerante False,26.0 - 34.0 R$,21.25 - 32.5 minutes
...,...,...,...,...,...,...
2239,Friday,Maximum,Borda False,Refrigerante False,26.0 - 34.0 R$,32.5 - 43.75 minutes
2240,Friday,Maximum,Borda False,Refrigerante False,26.0 - 34.0 R$,43.75 - 55.0 minutes
2241,Friday,Maximum,Borda False,Refrigerante False,34.0 - 42.0 R$,32.5 - 43.75 minutes
2242,Friday,Maximum,Borda False,Refrigerante False,26.0 - 34.0 R$,21.25 - 32.5 minutes
2243,Friday,End,Borda False,Refrigerante False,26.0 - 34.0 R$,21.25 - 32.5 minutes

In [3]:
transactions = []
for i in range(0, len(data)):
    transactions.append([str(data.values[i, j]) for j in range(0, len(data.columns))])
transactions[0:3]

[['Friday',
  'Start',
  'Borda False',
  'Refrigerante False',
  '26.0 - 34.0 R$',
  '21.25 - 32.5 minutes'],
 ['Friday',
  'Start',
  'Borda False',
  'Refrigerante False',
  '26.0 - 34.0 R$',
  '32.5 - 43.75 minutes'],
 ['Friday',
  'Start',
  'Borda False',
  'Refrigerante False',
  '26.0 - 34.0 R$',
  '32.5 - 43.75 minutes']]

In [21]:
#Running apyori
from apyori import apriori
rules = apriori(transactions, 
                     min_support = 0.003,
                     min_confidence = 0.8,
                     min_lift = 2.0,
                     min_lenght = 2)
results = list(rules)
results[0:5]
results2 = [list(x) for x in results]
results2[0:5]

[[frozenset({'42.0 - 50.0 R$', 'Refrigerante True'}),
  0.011586452762923352,
  [OrderedStatistic(items_base=frozenset({'42.0 - 50.0 R$'}), items_add=frozenset({'Refrigerante True'}), confidence=0.896551724137931, lift=5.067662642230522)]],
 [frozenset({'18.0 - 26.0 R$', '32.5 - 43.75 minutes', 'Monday'}),
  0.0035650623885918,
  [OrderedStatistic(items_base=frozenset({'18.0 - 26.0 R$', 'Monday'}), items_add=frozenset({'32.5 - 43.75 minutes'}), confidence=0.8888888888888887, lift=2.33567525370804)]],
 [frozenset({'32.5 - 43.75 minutes', 'Maximum', 'Monday'}),
  0.0035650623885918,
  [OrderedStatistic(items_base=frozenset({'Maximum', 'Monday'}), items_add=frozenset({'32.5 - 43.75 minutes'}), confidence=0.8888888888888887, lift=2.33567525370804)]],
 [frozenset({'42.0 - 50.0 R$', '43.75 - 55.0 minutes', 'Refrigerante True'}),
  0.005793226381461676,
  [OrderedStatistic(items_base=frozenset({'43.75 - 55.0 minutes', '42.0 - 50.0 R$'}), items_add=frozenset({'Refrigerante True'}), confidence=1.0, lift=5.652392947103275)]],
 [frozenset({'42.0 - 50.0 R$', 'Borda False', 'Refrigerante True'}),
  0.005793226381461676,
  [OrderedStatistic(items_base=frozenset({'Borda False', '42.0 - 50.0 R$'}), items_add=frozenset({'Refrigerante True'}), confidence=0.8666666666666667, lift=4.898740554156172)]]]

In [22]:
formatedresults = []
for j in range(0, len(results2)):
    formatedresults.append([list(x) for x in results2[j][2]])
formatedresults[0:5]

[[[frozenset({'42.0 - 50.0 R$'}),
   frozenset({'Refrigerante True'}),
   0.896551724137931,
   5.067662642230522]],
 [[frozenset({'18.0 - 26.0 R$', 'Monday'}),
   frozenset({'32.5 - 43.75 minutes'}),
   0.8888888888888887,
   2.33567525370804]],
 [[frozenset({'Maximum', 'Monday'}),
   frozenset({'32.5 - 43.75 minutes'}),
   0.8888888888888887,
   2.33567525370804]],
 [[frozenset({'42.0 - 50.0 R$', '43.75 - 55.0 minutes'}),
   frozenset({'Refrigerante True'}),
   1.0,
   5.652392947103275]],
 [[frozenset({'42.0 - 50.0 R$', 'Borda False'}),
   frozenset({'Refrigerante True'}),
   0.8666666666666667,
   4.898740554156172]]]

In [15]:
def showrules_df(data, support = 0.003, confidence = 0.2, 
                 lift = 2, lenght = 2):
    transactions = []
    for i in range(len(data)):
        transactions.append([str(data.values[i,j]) for j in range(len(data.columns))])
    rules = list(apriori(transactions, 
                     min_support = support,
                     min_confidence = confidence,
                     min_lift = lift,
                     min_lenght = lenght))
    results = []
    for item in rules:
        pair = item[0]
        items = [x for x in pair]

        el0 = str(items[0])
        el1 = str(items[1])
        el2 = str(item[1])[:7]
        el3 = str(item[2][0][2])[:7]
        el4 = str(item[2][0][3])[:7]

        rows = (el0, el1, el2, el3, el4)
        results.append(rows)

        labels = ['Param1', 'Param2', 'Support', 'Confidence', 'Lift']
    
    correlations = pd.DataFrame.from_records(results, columns = ['Param1', 'Param2', 'Support', 
                                                                 'Confidence', 'Lift'])
    return(correlations)

In [16]:
showrules_df(data).loc[showrules_df(data)['Confidence'] > str(0.4)]

                   Param1             Param2  Support Confidence     Lift
0          18.0 - 26.0 R$             Monday  0.00401    0.60000  2.16115
1    32.5 - 43.75 minutes             Monday  0.00534    0.79999  2.10210
3          42.0 - 50.0 R$         Borda True  0.00623    0.48275  3.84152
4       Refrigerante True     42.0 - 50.0 R$  0.01158    0.89655  5.06766
6          18.0 - 26.0 R$  10 - 21.5 minutes  0.00490    0.47826  2.61760
..                    ...                ...      ...        ...      ...
187        34.0 - 42.0 R$            Maximum  0.00311        0.5  2.12098
198        34.0 - 42.0 R$                End  0.00311        0.5  3.13407
203        34.0 - 42.0 R$            Maximum  0.00311        0.5  2.82619
219        34.0 - 42.0 R$            Maximum  0.00311    0.43750  4.88432
231        34.0 - 42.0 R$            Maximum  0.00311        0.5  2.57931

[65 rows x 5 columns]

In [31]:
def show_rules(data, support = 0.003, confidence = 0.2, 
               lift = 2, lenght = 2):
    """Must returns each rule existing in data""" 
    transactions = []
    for i in range(0, len(data)):
        transactions.append([str(data.values[i, j]) for j in range(0, len(data.columns))])
    rules = apriori(transactions, 
                         min_support = support,
                         min_confidence = confidence,
                         min_lift = lift,
                         min_lenght = lenght)
    results = list(rules)
    results2 = [list(x) for x in results]
    formatedresults = []
    for j in range(0, len(results2)):
        formatedresults.append([list(x) for x in results2[j][2]])
    return(formatedresults)
"""Looking at the size of the returned value from each these above functions """

In [32]:
show_rules(data)[0:5]

[[[frozenset({'Monday'}),
   frozenset({'18.0 - 26.0 R$'}),
   0.6000000000000001,
   2.1611556982343503]],
 [[frozenset({'Monday'}),
   frozenset({'32.5 - 43.75 minutes'}),
   0.7999999999999999,
   2.1021077283372365]],
 [[frozenset({'34.0 - 42.0 R$'}),
   frozenset({'Refrigerante True'}),
   0.35580524344569286,
   2.011151048594798],
  [frozenset({'Refrigerante True'}),
   frozenset({'34.0 - 42.0 R$'}),
   0.47858942065491183,
   2.011151048594798]],
 [[frozenset({'42.0 - 50.0 R$'}),
   frozenset({'Borda True'}),
   0.48275862068965514,
   3.841526045487894]],
 [[frozenset({'42.0 - 50.0 R$'}),
   frozenset({'Refrigerante True'}),
   0.896551724137931,
   5.067662642230522]]]

* As I have a large amount of columns in my df, I should set only specific columns to each rule instead off all columns


* __Example:__ Lets take a look in the relation(week day and price)

In [28]:
day_price = data[['dia_da_semana','intervalo_valor']]
day_price

     dia_da_semana intervalo_valor
0           Friday  26.0 - 34.0 R$
1           Friday  26.0 - 34.0 R$
2           Friday  26.0 - 34.0 R$
3           Friday  26.0 - 34.0 R$
4           Friday  26.0 - 34.0 R$
...            ...             ...
2239        Friday  26.0 - 34.0 R$
2240        Friday  26.0 - 34.0 R$
2241        Friday  34.0 - 42.0 R$
2242        Friday  26.0 - 34.0 R$
2243        Friday  26.0 - 34.0 R$

[2244 rows x 2 columns]

In [33]:
show_rules(day_price)

[[[frozenset({'Monday'}),
   frozenset({'18.0 - 26.0 R$'}),
   0.6000000000000001,
   2.1611556982343503]],
 [[frozenset({'42.0 - 50.0 R$'}),
   frozenset({'Tuesday'}),
   0.2758620689655172,
   2.009852216748768]]]

In [34]:
showrules_df(day_price)

           Param1          Param2  Support Confidence     Lift
0  18.0 - 26.0 R$          Monday  0.00401    0.60000  2.16115
1         Tuesday  42.0 - 50.0 R$  0.00356    0.27586  2.00985

* __Soda and price:__

In [35]:
soda_price = data[['refrigerante','intervalo_valor']]
soda_price

            refrigerante intervalo_valor
0     Refrigerante False  26.0 - 34.0 R$
1     Refrigerante False  26.0 - 34.0 R$
2     Refrigerante False  26.0 - 34.0 R$
3     Refrigerante False  26.0 - 34.0 R$
4     Refrigerante False  26.0 - 34.0 R$
...                  ...             ...
2239  Refrigerante False  26.0 - 34.0 R$
2240  Refrigerante False  26.0 - 34.0 R$
2241  Refrigerante False  34.0 - 42.0 R$
2242  Refrigerante False  26.0 - 34.0 R$
2243  Refrigerante False  26.0 - 34.0 R$

[2244 rows x 2 columns]

In [36]:
show_rules(soda_price)

[[[frozenset({'34.0 - 42.0 R$'}),
   frozenset({'Refrigerante True'}),
   0.35580524344569286,
   2.011151048594798],
  [frozenset({'Refrigerante True'}),
   frozenset({'34.0 - 42.0 R$'}),
   0.47858942065491183,
   2.011151048594798]],
 [[frozenset({'42.0 - 50.0 R$'}),
   frozenset({'Refrigerante True'}),
   0.896551724137931,
   5.067662642230522]]]

In [37]:
showrules_df(soda_price)

              Param1          Param2  Support Confidence     Lift
0  Refrigerante True  34.0 - 42.0 R$  0.08467    0.35580  2.01115
1  Refrigerante True  42.0 - 50.0 R$  0.01158    0.89655  5.06766

In [40]:
show_rules(data[['dia_da_semana', 'intervalo_valor']])

[[[frozenset({'Monday'}),
   frozenset({'18.0 - 26.0 R$'}),
   0.6000000000000001,
   2.1611556982343503]],
 [[frozenset({'42.0 - 50.0 R$'}),
   frozenset({'Tuesday'}),
   0.2758620689655172,
   2.009852216748768]]]

In [41]:
show_rules(data[['periodo_de_vendas', 'intervalo_valor']])

[]

In [43]:
show_rules(data[['periodo_de_vendas', 'intervalo_valor']], lift=1.25)

[[[frozenset({'10.0 - 18.0 R$'}),
   frozenset({'Start'}),
   0.3333333333333333,
   1.2529313232830819]],
 [[frozenset({'42.0 - 50.0 R$'}),
   frozenset({'Maximum'}),
   0.8275862068965516,
   1.50129623951161]]]

# An idea that could be applied:
* __From Apyori above results:__
    >`We can observe the costumer make expensive orders in rush hour. It might be a good idea to offer a expensive pizzas promotional price in a non rush hour.`

* As we can notice, the people whose buy light cream has almost 5 times more tendence to buy chicken in the same order than the people don't buy light cream. So, it could be a good idea to place these two items near themselves.

* __OBS:__
>* Analysing the above result, we can observe that the soda is likely bought when total price is high. We can supose the people buy pizza and soda together for higher value from pizza, or wen people buy more than one pizza unity. This makes sense, because if more than one pizza is bought in a single order, it is reasonable to assume the pizzas was bought for a large amount of people (big family, or big amount of friends).
    
    >* It is a good idea to use the function which returns a dataframe only for two attributes.