* __Reading data:__

In [65]:
import pandas as pd

data = pd.read_csv('source/ready_data.csv')
data

,dia_da_semana,periodo_de_vendas,borda,refrigerante,intervalo_valor,intervalo
0,Friday,Start,Borda False,Refrigerante False,26.0 - 34.0 R$,21.25 - 32.5 minutes
1,Friday,Start,Borda False,Refrigerante False,26.0 - 34.0 R$,32.5 - 43.75 minutes
2,Friday,Start,Borda False,Refrigerante False,26.0 - 34.0 R$,32.5 - 43.75 minutes
3,Friday,Start,Borda False,Refrigerante False,26.0 - 34.0 R$,32.5 - 43.75 minutes
4,Friday,Start,Borda False,Refrigerante False,26.0 - 34.0 R$,21.25 - 32.5 minutes
...,...,...,...,...,...,...
2239,Friday,Maximum,Borda False,Refrigerante False,26.0 - 34.0 R$,32.5 - 43.75 minutes
2240,Friday,Maximum,Borda False,Refrigerante False,26.0 - 34.0 R$,43.75 - 55.0 minutes
2241,Friday,Maximum,Borda False,Refrigerante False,34.0 - 42.0 R$,32.5 - 43.75 minutes
2242,Friday,Maximum,Borda False,Refrigerante False,26.0 - 34.0 R$,21.25 - 32.5 minutes
2243,Friday,End,Borda False,Refrigerante False,26.0 - 34.0 R$,21.25 - 32.5 minutes

In [66]:
transactions = []
for i in range(0, len(data)):
    transactions.append([str(data.values[i, j]) for j in range(0, len(data.columns))])
len(transactions), transactions[0]

(2244,
 ['Friday',
  'Start',
  'Borda False',
  'Refrigerante False',
  '26.0 - 34.0 R$',
  '21.25 - 32.5 minutes'])

In [67]:
#Running apyori
from apyori import apriori

rules = list(apriori(transactions, 
                     min_support = 0.003,
                     min_confidence = 0.2,
                     min_lift = 3,
                     min_lenght = 2))
rules[0:5]

[RelationRecord(items=frozenset({'42.0 - 50.0 R$', 'Borda True'}), support=0.006238859180035651, ordered_statistics=[OrderedStatistic(items_base=frozenset({'42.0 - 50.0 R$'}), items_add=frozenset({'Borda True'}), confidence=0.48275862068965514, lift=3.841526045487894)]),
 RelationRecord(items=frozenset({'Refrigerante True', '42.0 - 50.0 R$'}), support=0.011586452762923352, ordered_statistics=[OrderedStatistic(items_base=frozenset({'42.0 - 50.0 R$'}), items_add=frozenset({'Refrigerante True'}), confidence=0.896551724137931, lift=5.067662642230522)]),
 RelationRecord(items=frozenset({'34.0 - 42.0 R$', '10 - 21.5 minutes', 'Friday'}), support=0.0031194295900178253, ordered_statistics=[OrderedStatistic(items_base=frozenset({'34.0 - 42.0 R$', '10 - 21.5 minutes'}), items_add=frozenset({'Friday'}), confidence=0.5833333333333334, lift=3.072769953051643)]),
 RelationRecord(items=frozenset({'Friday', '10 - 21.5 minutes', 'End'}), support=0.0066844919786096255, ordered_statistics=[OrderedStatistic(items_base=frozenset({'10 - 21.5 minutes', 'End'}), items_add=frozenset({'Friday'}), confidence=0.6, lift=3.16056338028169), OrderedStatistic(items_base=frozenset({'10 - 21.5 minutes', 'Friday'}), items_add=frozenset({'End'}), confidence=0.5769230769230769, lift=3.1575984990619133)]),
 RelationRecord(items=frozenset({'Monday', '32.5 - 43.75 minutes', '18.0 - 26.0 R$'}), support=0.0035650623885918, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Monday'}), items_add=frozenset({'32.5 - 43.75 minutes', '18.0 - 26.0 R$'}), confidence=0.5333333333333333, lift=5.136480686695279)])]

In [68]:
rules = [list(elements) for elements in rules]
rules[0:5]

[[frozenset({'42.0 - 50.0 R$', 'Borda True'}),
  0.006238859180035651,
  [OrderedStatistic(items_base=frozenset({'42.0 - 50.0 R$'}), items_add=frozenset({'Borda True'}), confidence=0.48275862068965514, lift=3.841526045487894)]],
 [frozenset({'42.0 - 50.0 R$', 'Refrigerante True'}),
  0.011586452762923352,
  [OrderedStatistic(items_base=frozenset({'42.0 - 50.0 R$'}), items_add=frozenset({'Refrigerante True'}), confidence=0.896551724137931, lift=5.067662642230522)]],
 [frozenset({'10 - 21.5 minutes', '34.0 - 42.0 R$', 'Friday'}),
  0.0031194295900178253,
  [OrderedStatistic(items_base=frozenset({'34.0 - 42.0 R$', '10 - 21.5 minutes'}), items_add=frozenset({'Friday'}), confidence=0.5833333333333334, lift=3.072769953051643)]],
 [frozenset({'10 - 21.5 minutes', 'End', 'Friday'}),
  0.0066844919786096255,
  [OrderedStatistic(items_base=frozenset({'10 - 21.5 minutes', 'End'}), items_add=frozenset({'Friday'}), confidence=0.6, lift=3.16056338028169),
   OrderedStatistic(items_base=frozenset({'10 - 21.5 minutes', 'Friday'}), items_add=frozenset({'End'}), confidence=0.5769230769230769, lift=3.1575984990619133)]],
 [frozenset({'18.0 - 26.0 R$', '32.5 - 43.75 minutes', 'Monday'}),
  0.0035650623885918,
  [OrderedStatistic(items_base=frozenset({'Monday'}), items_add=frozenset({'32.5 - 43.75 minutes', '18.0 - 26.0 R$'}), confidence=0.5333333333333333, lift=5.136480686695279)]]]

In [69]:
def show_rules(data, support = 0.003, confidence = 0.2, 
               lift = 2, lenght = 2, number_retorned = len(data)):
    """Must returns each rule existing in data""" 
    transactions = []
    for i in range(0, len(data)):
        transactions.append([str(data.values[i, j]) for j in range(0, len(data.columns))])
    len(transactions), transactions[0]
    rules = list(apriori(transactions, 
                     min_support = support,
                     min_confidence = confidence,
                     min_lift = lift,
                     min_lenght = lenght))
    for i in range(len(rules[:number_retorned])):
        print('Regra:',i)
        print(rules[:][i], '\n')
        
show_rules(data, number_retorned=5)

Regra: 0
RelationRecord(items=frozenset({'Monday', '18.0 - 26.0 R$'}), support=0.004010695187165776, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Monday'}), items_add=frozenset({'18.0 - 26.0 R$'}), confidence=0.6000000000000001, lift=2.1611556982343503)])

Regra: 1
RelationRecord(items=frozenset({'Monday', '32.5 - 43.75 minutes'}), support=0.0053475935828877, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Monday'}), items_add=frozenset({'32.5 - 43.75 minutes'}), confidence=0.7999999999999999, lift=2.1021077283372365)])

Regra: 2
RelationRecord(items=frozenset({'Refrigerante True', '34.0 - 42.0 R$'}), support=0.08467023172905526, ordered_statistics=[OrderedStatistic(items_base=frozenset({'34.0 - 42.0 R$'}), items_add=frozenset({'Refrigerante True'}), confidence=0.35580524344569286, lift=2.011151048594798), OrderedStatistic(items_base=frozenset({'Refrigerante True'}), items_add=frozenset({'34.0 - 42.0 R$'}), confidence=0.47858942065491183, lift=2.011151048594798)])

Regra: 3
RelationRecord(items=frozenset({'42.0 - 50.0 R$', 'Borda True'}), support=0.006238859180035651, ordered_statistics=[OrderedStatistic(items_base=frozenset({'42.0 - 50.0 R$'}), items_add=frozenset({'Borda True'}), confidence=0.48275862068965514, lift=3.841526045487894)])

Regra: 4
RelationRecord(items=frozenset({'Refrigerante True', '42.0 - 50.0 R$'}), support=0.011586452762923352, ordered_statistics=[OrderedStatistic(items_base=frozenset({'42.0 - 50.0 R$'}), items_add=frozenset({'Refrigerante True'}), confidence=0.896551724137931, lift=5.067662642230522)])

* As I have a large amount of columns in my df, I should set only specific columns to each rule instead off all columns


* __Example:__ Lets take a look in the relation(week day and price)

In [80]:
day_price = data[['dia_da_semana','intervalo_valor']]
day_price

     dia_da_semana intervalo_valor
0           Friday  26.0 - 34.0 R$
1           Friday  26.0 - 34.0 R$
2           Friday  26.0 - 34.0 R$
3           Friday  26.0 - 34.0 R$
4           Friday  26.0 - 34.0 R$
...            ...             ...
2239        Friday  26.0 - 34.0 R$
2240        Friday  26.0 - 34.0 R$
2241        Friday  34.0 - 42.0 R$
2242        Friday  26.0 - 34.0 R$
2243        Friday  26.0 - 34.0 R$

[2244 rows x 2 columns]

In [82]:
show_rules(day_price)

Regra: 0
RelationRecord(items=frozenset({'Monday', '18.0 - 26.0 R$'}), support=0.004010695187165776, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Monday'}), items_add=frozenset({'18.0 - 26.0 R$'}), confidence=0.6000000000000001, lift=2.1611556982343503)])

Regra: 1
RelationRecord(items=frozenset({'Tuesday', '42.0 - 50.0 R$'}), support=0.0035650623885918, ordered_statistics=[OrderedStatistic(items_base=frozenset({'42.0 - 50.0 R$'}), items_add=frozenset({'Tuesday'}), confidence=0.2758620689655172, lift=2.009852216748768)])

* __Soda and price:__

In [83]:
soda_price = data[['refrigerante','intervalo_valor']]
soda_price

            refrigerante intervalo_valor
0     Refrigerante False  26.0 - 34.0 R$
1     Refrigerante False  26.0 - 34.0 R$
2     Refrigerante False  26.0 - 34.0 R$
3     Refrigerante False  26.0 - 34.0 R$
4     Refrigerante False  26.0 - 34.0 R$
...                  ...             ...
2239  Refrigerante False  26.0 - 34.0 R$
2240  Refrigerante False  26.0 - 34.0 R$
2241  Refrigerante False  34.0 - 42.0 R$
2242  Refrigerante False  26.0 - 34.0 R$
2243  Refrigerante False  26.0 - 34.0 R$

[2244 rows x 2 columns]

In [106]:
show_rules(soda_price)

Regra: 0
RelationRecord(items=frozenset({'Refrigerante True', '34.0 - 42.0 R$'}), support=0.08467023172905526, ordered_statistics=[OrderedStatistic(items_base=frozenset({'34.0 - 42.0 R$'}), items_add=frozenset({'Refrigerante True'}), confidence=0.35580524344569286, lift=2.011151048594798), OrderedStatistic(items_base=frozenset({'Refrigerante True'}), items_add=frozenset({'34.0 - 42.0 R$'}), confidence=0.47858942065491183, lift=2.011151048594798)])

Regra: 1
RelationRecord(items=frozenset({'Refrigerante True', '42.0 - 50.0 R$'}), support=0.011586452762923352, ordered_statistics=[OrderedStatistic(items_base=frozenset({'42.0 - 50.0 R$'}), items_add=frozenset({'Refrigerante True'}), confidence=0.896551724137931, lift=5.067662642230522)])

* __OBS:__
>Analysing the above result, we can observe that the soda is likely bought when total price is high. We can supose the people buy pizza and soda together for higher value from pizza, or wen people buy more than one pizza unity. This makes sense, because if more than one pizza is bought in a single order, it is reasonable to assume the pizzas was bought for a large amount of people (big family, or big amount of friends).