## Frequency Distribution
>As we have a large number of distinct values from some columns, we need to improve this value to reach better rules.

* __Valor_total__

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from numpy import genfromtxt

/home/visus/.pyenv/versions/3.7.0/lib/python3.7/site-packages/pandas/compat/__init__.py:117: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [3]:
#reading the csv
valor_total = pd.read_csv('source/pre_processed.csv')
valor_total

,data_pedido,hora_pedido,tipo_entrega,valor_borda,valor_refrigerante,valor_total,tempo,dia_da_semana,periodo_de_vendas,borda,refrigerante
0,2011-10-07,0 days 18:45:00.000000000,Buscar,0.0,0.0,32.0,0 days 00:30:00.000000000,Friday,End,False,False
1,2011-10-07,0 days 18:47:00.000000000,Buscar,0.0,0.0,30.0,0 days 00:43:00.000000000,Friday,End,False,False
2,2011-10-07,0 days 18:49:00.000000000,Buscar,0.0,0.0,27.0,0 days 00:42:00.000000000,Friday,End,False,False
3,2011-10-07,0 days 18:50:00.000000000,Buscar,0.0,0.0,30.0,0 days 00:40:00.000000000,Friday,End,False,False
4,2011-10-07,0 days 18:52:00.000000000,Buscar,0.0,0.0,30.0,0 days 00:23:00.000000000,Friday,End,False,False
...,...,...,...,...,...,...,...,...,...,...,...
2239,2012-02-24,0 days 20:15:00.000000000,Entrega,0.0,0.0,27.0,0 days 00:43:00.000000000,Friday,End,False,False
2240,2012-02-24,0 days 20:20:00.000000000,Entrega,0.0,0.0,30.0,0 days 00:54:00.000000000,Friday,End,False,False
2241,2012-02-24,0 days 20:47:00.000000000,Entrega,0.0,0.0,34.5,0 days 00:34:00.000000000,Friday,End,False,False
2242,2012-02-24,0 days 21:25:00.000000000,Buscar,0.0,0.0,31.0,0 days 00:24:00.000000000,Friday,End,False,False
2243,2012-02-24,0 days 22:08:00.000000000,Entrega,0.0,0.0,27.0,0 days 00:27:00.000000000,Friday,End,False,False